<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <link rel=icon href='../static/demo/images/body.jpg' sizes="16x16" type="image/jpg">
    <title>
      Harsha Satya Vardhan
    </title>

    <!-- Required Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="resume template by harsha"
    />
    <meta name="author" content="#" />

    <!-- Base CSS -->
    <link
      rel="stylesheet"
      href="../static/assets/vendor/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link rel="stylesheet" href="../static/assets/css/utilities.css" />

    <link rel="stylesheet" href="../static/assets/css/custom.css" />

    <!-- Libs CSS -->
    <link
      rel="stylesheet"
      href="../static/assets/vendor/slick/slick.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/vendor/vegas/vegas.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/vendor/featherlight/featherlight.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/vendor/featherlight/featherlight.gallery.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/vendor/fontawesome/css/all.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/vendor/themify-icons/css/themify-icons.css"
      type="text/css"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader" class="preloader">
      <div class="loader-status">
        <div class="spinner"></div>
      </div>
    </div>

    <div class="site-container">
      <div id="top"></div>

      <!-- Mobile logo -->
      <a href="#" class="mobile-logo mobile-logo-light">
        <div class="overlay">
          <div class="overlay-inner bg-dark opacity-50"></div>
        </div>
        <span>Harsha Satya Vardhan</span>
      </a>

      <!-- Navigation toggle -->
      <button
        type="button"
        id="navigation-toggle"
        class="nav-toggle nav-toggle-light"
      >
        <div class="overlay">
          <div class="overlay-inner bg-dark opacity-50"></div>
        </div>
        <span></span>
      </button>

      <!-- Site header -->
      <header class="site-header bg-transparent">
        <div class="header-inner">
          <div class="overlay">
            <div class="overlay-inner bg-dark opacity-85"></div>
          </div>
          <div class="header-brand">
            <!-- Logo -->
            <a href="#" class="logo">
              <span>Harsha Satya Vardhan</span>
              <span class="title-letter text-white opacity-15">H</span>
            </a>
          </div>
          <div class="nav-divider mb-8"></div>
          <nav class="site-nav">
            <ul id="navigation">
              <li>
                <a href="#home" class="scrollto">Home</a>
              </li>
              <li>
                <a href="#about" class="scrollto">About</a>
              </li>
              <li>
                <a href="#services" class="scrollto">Services</a>
              </li>
              <li>
                <a href="#portfolio" class="scrollto">Projects</a>
              </li>
              <li>
                <a href="#news" class="scrollto">Blogs</a>
              </li>
              <li>
                <a href="#contact" class="scrollto">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="nav-divider my-8"></div>
          <nav>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a
                  class="
                    btn btn-sm btn-icon btn-outline-white
                    border-0
                    rounded-circle
                  "
                  href="https://www.linkedin.com/in/harshasatyavardhan/"
                >
                <span class="btn-icon-inner fab fa-linkedin-in"></span>
              </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="
                    btn btn-sm btn-icon btn-outline-white
                    border-0
                    rounded-circle
                  "
                  href="https://scholar.google.com/citations?user=XsBWFS4AAAAJ&hl=en"
                >
                <span class="btn-icon-inner fab fa-google"></span>
              </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="
                    btn btn-sm btn-icon btn-outline-white
                    border-0
                    rounded-circle
                  "
                  href="#"
                >
                  <span class="btn-icon-inner fab fa-twitter"></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="
                    btn btn-sm btn-icon btn-outline-white
                    border-0
                    rounded-circle
                  "
                  href="https://github.com/HarshaSatyavardhan"
                >
                  <span class="btn-icon-inner fab fa-github"></span>
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </header>

      <!-- Header overlay -->
      <div class="header-overlay">
        <div class="overlay-inner bg-dark opacity-80"></div>
      </div>

      <!-- Back to top button -->
      <button type="button" id="backtotop" class="btn btn-primary btn-icon">
        <span class="btn-icon-inner fas fa-angle-up"></span>
      </button>

      <!-- Global cover background -->
      <div class="global-cover-bg">
        <div class="overlay-inner bg-image-holder bg-cover">
          <img src="../static/demo/images/image-4.jpg" alt="background" />
        </div>
        <div class="overlay-inner overlay-video">
          <div class="video-wrapper">
            <video autoplay muted loop>
              <source src="../static/demo/video/work.webm" type="video/webm" />
              <source src="../static/demo/video/work.mp4" type="video/mp4" />
              <source src="../static/demo/video/work.ogv" type="video/ogg" />
            </video>
          </div>
        </div>
      </div>

      <!-- Page wrapper -->
      <div class="page-wrapper">
        <div id="page-cover" class="page-cover">
          <div class="page-cover-wrapper-fixed">
            <div class="page-cover-bg">
              <div class="overlay-inner bg-dark opacity-55"></div>
            </div>
            <div class="page-cover-wrap">
              <section id="home" class="d-flex min-vh-100">
                <div class="container align-self-center text-white text-center">
                  <div class="avatar avatar-xxl mb-6">
                    <div
                      class="
                        avatar-shape avatar-shape-rounded
                        bg-white
                        
                        mt-n2
                        mb-n2
                        mr-n2
                      "
                    ></div>
                    <img
                      src="../static/demo/images/profile_pic_3.jpeg"
                      alt=""
                      class="avatar-img rounded-circle shadow-light"
                    />
                  </div>
                  <h1 class="mb-2 mb-lg-3">Harsha Satya Vardhan</h1>
                  <p class="lead mb-0">
                    Research Intern @IIIT Hyderabad | B.E. Electronics and
                    Communication, SRM University, Amaravathi
                  </p>
                  <span class="cover-letter letter-xl text-white opacity-10">
                    H
                  </span>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!--end .page-cover -->

        <div class="page-content">
          <section id="about">
            <div class="container">
              <div class="section-title h2 text-center mb-8">
                <h2 class="mb-0">About Me</h2>
                <span class="title-letter">A</span>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 d-none d-lg-block">
                  <img
                    class="img-fluid w-100 rounded"
                    src="../static/demo/images/profile_pic.jpeg"
                    alt=""
                  />
                </div>
                <div class="col-lg-8">
                  <h3>Harsha Satya Vardhan</h3>
                  <p class="lead">B.E. Electronics and Communication</p>
                  <p class="mb-5" align="justify">
                    I am a final year undergraduate student in Electronics and
                    Communication student from SRM University AP, Amaravati
                    Campus. My interests lie in the fields of <B>Machine Learning</B>
                    and <B>Deep Learning</B> and their applications in the domain of
                    <B>Computer Vision</B>. Currently, I am working as a Junior
                    Research Fellow at IIIT Hyderabad where I am working in the
                    IHUB team on projects related to Healthcare and Artificial
                    Intelligence. Previously,I have worked as a research intern
                    at NIT Calicut, under <a href="https://scholar.google.co.in/citations?user=Uh4SLT8AAAAJ&hl=en">Dr.Sudeep</a>, where I worked on the
                    problem of <B>Medical Image Enhancement using Deep Neural
                    Networks</B> DST funded project. I have also worked as an
                    undergraduate researcher at <a href='https://srmap.edu.in/faculty/dr-jatindra-kumar-dash/'>Dr. Jatindra Kumar Dash</a>, SRM
                    Univerity AP where I worked on <B>Classification of Interstital
                    Lung Disease using Deep Learning</B>. In my previous
                    experiences, I have worked on challenging problems such as
                    Explanatery ML, Static and Dynamic Face Gesture
                    Recognition,Building apps for Deaf-blind people etc. Apart
                    from this, I am a core member of Next Tech Lab AP.
                  </p>
                  <div class="row mb-8">
                    <div class="col-md-6 mb-5 mb-md-0">
                      <h4 class="mb-4">Education</h4>
                      <p class="h5">Electronics and Communication</p>
                      <p>SRM University AP, 2018 - 2022</p>
                      <p class="h5">10th Class</p>
                      <p>
                        Swarnandhra International School, April, 2015 - March,
                        2016
                      </p>
                    </div>

                    <div class="col-md-6">
                      <h4 class="mb-4">Awards</h4>
                      <a href="https://www.hackerearth.com/challenges/hackathon/sentientio-ihack-alpha-2020/"><p class="h5">iHack Alpha Hackathon</p></a>
                      <p>Winner - International 1st/1800 teams, 2021</p>

                      <p class="h5">CVIT 2021 Fellow</p>
                      <p>2021</p>

                      <a href="https://devpost.com/software/study-u0dav9"><p class="h5">Conversational Intelligence / AI Hack</p></a>
                      <p>3rd place, 2021</p>

                      <p class="h5">
                        OctaHacks 3.0 Hackathon, Chitkara University
                      </p>
                      <p>8th/450 teams, 2020</p>

                      <a href="https://www.linkedin.com/posts/harshasatyavardhan_received-a-gold-medal-at-srm-university-ap-activity-6630074919520694273-bVNB"><p class="h5">Research Day - SRM University AP</p></a>
                      <p>Gold Medal, 2020</p>
                    </div>
                  </div>
                  <a href="https://1drv.ms/b/s!AvnFQ6e2X7Q5gRMbUVGeP2YRyVB2?e=jumwkX" class="btn btn-primary">Download CV</a>
                  <a href="#contact" class="btn btn-light scrollto">
                    Send Message
                  </a>
                </div>
              </div>
              <hr class="my-5" />

              <ul class="list-inline text-center mb-0">
                <li class="list-inline-item">
                  <a
                    class="btn btn-icon btn-outline-primary btn-transparent"
                    href="https://www.linkedin.com/in/harshasatyavardhan/"
                  >
                    <span class="btn-icon-inner fab fa-linkedin-in"></span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="btn btn-icon btn-outline-primary btn-transparent"
                    href="#"
                  >
                    <span class="btn-icon-inner fab fa-twitter"></span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="btn btn-icon btn-outline-primary btn-transparent"
                    href="https://scholar.google.com/citations?user=XsBWFS4AAAAJ&hl=en"
                  >
                    <span class="btn-icon-inner fab fa-google"></span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="btn btn-icon btn-outline-primary btn-transparent"
                    href="https://github.com/HarshaSatyavardhan"
                  >
                    <span class="btn-icon-inner fab fa-github"></span>
                  </a>
                </li>
                
              </ul>

              <hr class="my-5" />

            </div>
          </section>

          <section id="skills" class="bg-light">
            <div class="container">
              <div class="row mb-8">
                <div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
                  <div class="section-title h2 mb-3">
                    <h2 class="mb-0">Skills</h2>
                    <span class="title-letter">S</span>
                  
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">
                  <p class="h6 mb-1">Python</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="85"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">Javascript</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="85"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">React</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="85"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">Next.js</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="85"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">HTML / CSS</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="85"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="h6 mb-1">LATEX</p>
                  <div class="progress rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="h6 mb-1">Django</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">Pytorch / FAST AI</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">Keras</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">OpenCV</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  <p class="h6 mb-1">Raspberry pi / Arduino</p>
                  <div class="progress mb-6 rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="h6 mb-1">Flask, Fast API</p>
                  <div class="progress rounded-0" style="height: 5px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="85"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
				  
                </div>
				
              </div>
            </div>
          </section>

          <section id="experience" class="pb-0">
            <div class="container">
              <div class="section-title h2 text-center mb-8">
                <h2 class="mb-0">Experience</h2>
                <span class="title-letter">E</span>
              </div>

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">NEXT TECH LAB<br>BOARD MEMBER | Syndicate TESLA LAB</p>
                  <p class="opacity-75">SRM University AP<br> Aug 2018 - Present</p>
                </div>
                <div class="col-lg-8">
                  <p>
                    Student-Led Innovation Lab focusing on cutting-edge research; Advisers from MIT and Google Brain; Research funded by SRM university; Silver Winner of QS Re-imagine Education Awards 2017 for Student-Led Innovation.
                  </p>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">IEEE STUDENT BRANCH</p>
                  <p class="opacity-75">FINANCE COMMITTEE MEMBER <br> SRM University AP <br> Dec 2018 - Present</p>
                </div>
                <div class="col-lg-8">
                  <p>
                    IEEE SRM AP student Branch gives students a community of peers and a connection to faculty and industry professionals who drive innovation in countless technical fields.
                  </p>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">RASPBERRY JAM <br> CO-ORGANIZER</p>
                  <p class="opacity-75">
                     SRM Univerity, AP <br> 2nd March 2019 
                  </p>
                </div>
                <div class="col-lg-8">
                  <p>
                   Rasberry Jams are independently organised community events for people to come together to learn about digital making with Rasberry Pi.
                  </p>
                </div>
              </div>

			  <hr />

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">NIT TIRCHY</p>
                  <p class="opacity-75">STUDENT RESEARCHER <br> Feb 2021 - Apr 2021</p>
                </div>
                <div class="col-lg-8">
                  <p>
					  Working on Image Processing and hand written text extraction from tables under professor Dr.S.Domnic.
                  </p>
                </div>
              </div>

			  <hr />

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">NIT CALICUT</p>
                  <p class="opacity-75">STUDENT RESEARCHER  <br> June 2021 - August 2021</p>
                </div>
                <div class="col-lg-8">
                  <p>
					  Working on government funded SERB project - Medical Image Enhancement using Deep Neural Networks under Dr.P.V.Sudeep.
                  </p>
                </div>
              </div>

			  <hr />

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">CCNSB LAB - IIIT HYDERABAD</p>
                  <p class="opacity-75">STUDENT RESEARCHER <br> September 2021 - Currently</p>
                </div>
                <div class="col-lg-8">
                  <p>
Working in the areas of AI/ML applied to computer aided drug design, Building frontend, backend interface,
 handle multiple user queries adn distributed network or queue-based network to run models parallelly .
				</p>
                </div>
              </div>


			  <hr />

              

              <div class="row">
                <div class="col-lg-4 mb-1 mb-lg-0">
                  <p class="h5 mb-0">SRM KATTANKULATHUR</p>
                  <p class="opacity-75">STUDENT RESEARCHER  <br> September - Current</p>
                </div>
                <div class="col-lg-8">
                  <p>
Working on Using Deep Learning for Classification of Covid-19 Computed Tomography and Radiography under Dr.S.Dhanalakshmi.
				</p>
                </div>
              </div>
            </div>
          </section>



          <section id="portfolio">
            <div class="container">
              <div class="row mb-8">
                <div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
                  <div class="section-title h2 mb-3">
                    <h2 class="mb-0">Projects</h2>
                    <span class="title-letter">P</span>
                  </div>
                  <nav class="portfolio-filter isotope-filter">
                    <ul class="justify-content-center">
                      <li>
                        <a href="#" class="active" data-filter="*">All</a>
                      </li>
                      <li><a href="#" data-filter=".web">Web</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="container">
              <div
                class="portfolio-container isotope-container row my-n2 mx-sm-n2"
              >
                <div class="isotope-item col-sm-6 col-lg-4 py-2 px-sm-2 web">
                  <div class="portfolio-item details-inside">
                    <a href="/projects_one">
                      <div class="item-media">
                        <div class="video-wrapper">
                          <video autoplay muted loop width="300" height="285" controls>
                            <source src="../static/demo/video/talk-sparkvideo.mp4" type="video/mp4" />
                          </video>
                        </div>
                      </div>
                      <div class="item-overlay bg-dark"></div>
                      <div class="item-details">
                        <h4 class="h5">Artifical Voice</h4>
                        <p class="font-italic">Web</p>
                      </div>
                    </a>
                  </div>
                </div>

                

                <div class="isotope-item col-sm-6 col-lg-4 py-2 px-sm-2 web">
                  <div class="portfolio-item details-inside">
                    <a href="/projects_two">
                      <div class="item-media">
                        <img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/402/316/datas/gallery.jpg" alt="" />
                      </div>
                      <div class="item-overlay bg-dark"></div>
                      <div class="item-details text-white">
                        <h4 class="h5">Talk</h4>
                        <p class="font-italic">Web</p>
                      </div>
                    </a>
                  </div>
                </div>

                

                <div class="isotope-item col-sm-6 col-lg-4 py-2 px-sm-2 web">
                  <div class="portfolio-item details-inside">
                    <a href="/projects_three">
                      <div class="item-media">
                        <img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/459/191/datas/gallery.jpg" alt="" />
                      </div>
                      <div class="item-overlay bg-dark"></div>
                      <div class="item-details text-white">
                        <h4 class="h5">Study</h4>
                        <p class="font-italic">Web</p>
                      </div>
                    </a>
                  </div>
                </div>

                

                

                

                
              <!-- .portfolio-container end -->
            </div>
          </section>

          <!-- Slider -->
          <section id="slider" class="pb-0">
            <div class="container">
              
                <div class="section-title h2 text-center mb-8">
                  <h2 class="mb-0">Gallery</h2>
                  <span class="title-letter">G</span>
                </div>
              

              <div
                class="slider dots-light dots-inside mb-5"
                data-slick='{"dots": true}'
              >
                <div>
                  <img
                    src="../static/demo/images/gallery-2.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    src="../static/demo/images/gallery-1.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    src="../static/demo/images/gallery-3.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    src="../static/demo/images/gallery-4.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    src="../static/demo/images/gallery-5.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    src="../static/demo/images/gallery-6.jpg"
                    alt=""
                  />
                </div>
              </div>              
            </div>
          </section>

          <section id="news" class="pb-0">
            <div class="container">
              <div class="section-title h2 text-center mb-8">
                <h2 class="mb-0">Blogs</h2>
                <span class="title-letter">B</span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4 mb-4 mb-md-0">
                  <article class="news-block border-0">
                    <div class="news-body p-0">
                      <div class="mb-4">
                        <img
                          class="img-fluid w-100 rounded"
                          src="../static/demo/images/blog/blog-1.jpg"
                          alt=""
                        />
                      </div>
                      <small class="d-block mb-1">May 27, 2019</small>
                      <h2 class="h4 mb-1">
                        <a href="/blog_one">
                          Blog One
                        </a>
                      </h2>
                      <p>
                        Blog.
                      </p>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6 col-md-4 mb-4 mb-md-0">
                  <article class="news-block border-0">
                    <div class="news-body p-0">
                      <div class="mb-4">
                        <img
                          class="img-fluid w-100 rounded"
                          src="../static/demo/images/blog/blog-2.jpg"
                          alt=""
                        />
                      </div>
                      <small class="d-block mb-1">May 20, 2019</small>
                      <h2 class="h4 mb-1">
                        <a href="/blog_one">
                          Blog Two
                        </a>
                      </h2>
                      <p>
                        Blog.
                      </p>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6 col-md-4">
                  <article class="news-block border-0">
                    <div class="news-body p-0">
                      <div class="mb-4">
                        <img
                          class="img-fluid w-100 rounded"
                          src="../static/demo/images/blog/blog-3.jpg"
                          alt=""
                        />
                      </div>
                      <small class="d-block mb-1">May 13, 2019</small>
                      <h2 class="h4 mb-1">
                        <a href="/blog_one">
                          Blog Three
                        </a>
                      </h2>
                      <p>
                        Blog.
                      </p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </section>

          <section id="contact">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-lg-auto">
                  <div class="row mb-8">
                    <div class="col-lg-8 mx-lg-auto text-center">
                      <div class="section-title h2 mb-3">
                        <h2 class="mb-0">Contact</h2>
                        <span class="title-letter">C</span>
                      </div>
                      <p>
                        Want to say hello? Want to know more about me? Give me a
                        call or drop me an email and I will get back to you as
                        soon as I can.
                      </p>
                    </div>
                  </div>
                  <div class="row mb-8">
                    <div class="col-md-4 mb-5 mb-md-0">
                      <div class="feature-block">
                        <div class="feature-icon text-primary mb-4">
                          <div class="mx-auto">
                            <i class="ti-mobile"></i>
                          </div>
                        </div>
                        <p class="text-center">
                          +91 9515204051
                          
                        </p>
                      </div>
                    </div>

                    <div class="col-md-4 mb-5 mb-md-0">
                      <div class="feature-block">
                        <div class="feature-icon text-primary mb-4">
                          <div class="mx-auto">
                            <i class="ti-location-pin"></i>
                          </div>
                        </div>
                        <p class="text-center">
                          Mangalagiri, Near Anjaneyaswamy Template,
                          <br />
                          Guntur, Andhra Pradesh - 522503.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="feature-block">
                        <div class="feature-icon text-primary mb-4">
                          <div class="mx-auto">
                            <i class="ti-email"></i>
                          </div>
                        </div>
                        <p class="text-center">
                          <a
                            href="mailto:harsha_satya@srmap.edu.in"
                            class="text-dark"
                          >
                            harsha_satya@srmap.edu.in
                          </a>
                          <br />
                          <a href="mailto:vasamsettiharsha@gmail.com" class="text-dark">
                            vasamsettiharsha@gmail.com
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="contact-form">
                    <form
                      class="mb-0"
                      id="cf"
                      name="cf"
                      action="include/sendemail.php"
                      method="post"
                      autocomplete="off"
                    >
                      <div class="form-row">
                        <div class="form-process"></div>

                        <div class="col-12 col-md-6">
                          <div class="form-group error-text-white">
                            <input
                              type="text"
                              id="cf-name"
                              name="cf-name"
                              placeholder="Enter your name"
                              class="form-control required"
                            />
                          </div>
                        </div>

                        <div class="col-12 col-md-6">
                          <div class="form-group error-text-white">
                            <input
                              type="email"
                              id="cf-email"
                              name="cf-email"
                              placeholder="Enter your email address"
                              class="form-control required"
                            />
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group error-text-white">
                            <input
                              type="text"
                              id="cf-subject"
                              name="cf-subject"
                              placeholder="Subject (Optional)"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="col-12 mb-4">
                          <div class="form-group error-text-white">
                            <textarea
                              name="cf-message"
                              id="cf-message"
                              placeholder="Here goes your message"
                              class="form-control required"
                              rows="7"
                            ></textarea>
                          </div>
                        </div>

                        <div class="col-12 d-none">
                          <input
                            type="text"
                            id="cf-botcheck"
                            name="cf-botcheck"
                            value=""
                            class="form-control"
                          />
                        </div>

                        <div class="col-12 text-center">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            id="cf-submit"
                            name="cf-submit"
                          >
                            Send Message
                          </button>
                        </div>
                      </div>
                    </form>
                    <div class="contact-form-result text-center"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Site footer -->
          <footer class="site-footer bg-light">
            <div class="container">
              <nav class="mb-3">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a
                      class="
                        btn btn-sm btn-icon btn-outline-dark
                        border-0
                        rounded-circle
                      "
                      href="https://www.linkedin.com/in/harshasatyavardhan/"
                    >
                      <span class="btn-icon-inner fab fa-linkedin-in"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="
                        btn btn-sm btn-icon btn-outline-dark
                        border-0
                        rounded-circle
                      "
                      href="https://scholar.google.com/citations?user=XsBWFS4AAAAJ&hl=en"
                    >
                      <span class="btn-icon-inner fab fa-google"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="
                        btn btn-sm btn-icon btn-outline-dark
                        border-0
                        rounded-circle
                      "
                      href="#"
                    >
                      <span class="btn-icon-inner fab fa-twitter"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="
                        btn btn-sm btn-icon btn-outline-dark
                        border-0
                        rounded-circle
                      "
                      href="https://github.com/HarshaSatyavardhan"
                    >
                      <span class="btn-icon-inner fab fa-github"></span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </footer>
        </div>
        <!--end .page-content -->
      </div>
      <!-- end .page-wrapper -->
    </div>

    <!-- Libs JS -->
    <script src="../static/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../static/assets/vendor/popper.js/dist/popper.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../static/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../static/assets/vendor/jquery-form/dist/jquery.form.min.js"></script>
    <script src="../static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../static/assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/featherlight/jquery.detect_swipe.js"></script>
    <script src="../static/assets/vendor/featherlight/featherlight.min.js"></script>
    <script src="../static/assets/vendor/featherlight/featherlight.gallery.min.js"></script>
    <script src="../static/assets/vendor/slick/slick.min.js"></script>
    <script src="../static/assets/vendor/vegas/vegas.min.js"></script>
    <script src="../static/assets/vendor/typed.js/typed.min.js"></script>
    <script src="../static/assets/vendor/granim.js/dist/granim.min.js"></script>

    <!-- Theme JS -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
